#backHome {
    position: fixed;
    top: 40px;
    left: 40px;
    background: rgb(74, 74, 68);
    color: white;
    padding: 20px;
    border-radius: 50%;
  }
  
  #uom-full-stack,
  #great-learning1,#great-learning2,#great-learning3,#great-learning4,#great-learning5,#great-learning6,#great-learning7,#great-learning8,
  #coursera,
  #coursera,
  #coursera1,#coursera2,#coursera3,#coursera4,
  #future-learning1, #future-learning2, #future-learning3, #future-learning4
   {
    padding-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  
  
  #uom-full-stack,
  #great-learning1,#great-learning2,#great-learning3,#great-learning4,#great-learning5,#great-learning6,#great-learning7,#great-learning8,
  #coursera,
  #coursera,#coursera1,#coursera2,#coursera3,#coursera4,
  #future-learning1, #future-learning2, #future-learning3, #future-learning4{
    padding-bottom: 10%;
  }
 
  
  
img {
    width: 700px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
  }

/*#future-learning .img  {
    width: 200px;
    height: 700px;
  }*/
  
  
  /* add media */
  /* Media query for tablets and larger phones */
  @media screen and (max-width: 1024px) {
    
    
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 768px) {
    h1{
      padding-top: 60px;
      font-size: 15px;
    }
    h3{
      font-size: 10px;
    }
    img {
     width:90%;
     height:auto;
    }
    
  }
  
  
  