/* General styles for all devices */
#backHome {
  position: fixed;
  top: 40px;
  left: 40px;
  background: rgb(74, 74, 68);
  color: white;
  padding: 20px;
  border-radius: 50%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px; /* Adjusted margin for smaller devices */
  background-color: #f7f7f7;
}

#title1 {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(255, 253, 254);
  background: linear-gradient(141deg, rgb(34, 2, 57) 11%, rgb(141, 94, 167) 48%, rgb(113, 20, 189) 83%);
  font-weight: bold;
  padding-left: 10px;
}

#title {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(74, 74, 68);
  font-weight: bold;
}

.ks {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ks img {
  width: 100%; /* Changed width to 100% to make images responsive */
  height: auto;
  margin-bottom: 20px;
}

h3 {
  color: rgba(51, 4, 73, 0.842);
}

ul li {
  color: rgb(6, 13, 148);
  margin-bottom: 10px;
}

ul #link {
  padding-bottom: 20px;
}

ul li p {
  color: rgb(70, 70, 66);
}

ul #link {
  list-style-type: none;
}

li h3 {
  color: rgb(6, 13, 148);
}

ul #link a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(105, 127, 222);
  color: white;
  margin-right: 10px;
}

ul li span {
  color: rgb(48, 114, 212);
}

/* Media query for small devices */
@media only screen and (max-width: 600px) {
  body {
    margin: 10px; /* Adjusted margin for smaller devices */
   
  }

  .ks img {
    margin-left: 0;
  }

  #backHome {
    top: 20px;
    left: 20px;
    padding: 15px; /* Adjusted padding for smaller devices */
  }

  #title1 {
   padding-top: 60px;
    font-size: 18px; /* Adjusted font size for smaller devices */
  }

  #title {
    font-size: 18px; /* Adjusted font size for smaller devices */
  }

  .ks {
    padding: 15px; /* Adjusted padding for smaller devices */
  }

  .ks img {
    margin-bottom: 10px; /* Adjusted margin for smaller devices */
  }

  ul li {
    margin-bottom: 5px; /* Adjusted margin for smaller devices */
  }

  ul li p {
    font-size: 16px; /* Adjusted font size for smaller devices */
  }

  ul #link a {
    padding: 8px 16px; /* Adjusted padding for smaller devices */
    font-size: 14px; /* Adjusted font size for smaller devices */
    margin-right: 5px; /* Adjusted margin for smaller devices */
  }

  li h3 {
    font-size: 18px; /* Adjusted font size for smaller devices */
  }

  ul li span {
    font-size: 16px; /* Adjusted font size for smaller devices */
  }
}
