#backHome {
    position: fixed;
    top: 40px;
    left: 40px;
    background: rgb(74, 74, 68);
    color: white;
    padding: 20px;
    border-radius: 50%;
  }
  
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 100px 100px 100px 250px;
    background-color: #f7f7f7; /* Added a background color for better visibility */
  }

  #title1 {
    font-size: 20px;
    margin-top: 20px; /* Add some spacing between titles */
    color: rgb(255, 253, 254); /* Changed title text color */
    background: linear-gradient(141deg, rgb(34, 2, 57) 11%, rgb(141, 94, 167) 48%, rgb(113, 20, 189) 83%);
    font-weight: bold;
    padding-left: 10px;
  }

  #title {
    font-size: 20px;
    margin-top: 20px;
    color:rgb(74, 74, 68);
    font-weight: bold;
  }
  
  .ks {
    background-color: #fff; /* Changed background color */
    padding: 20px; /* Increased padding for better spacing */
    margin-top: 20px; /* Add some spacing between sections */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .ks img {
      width: 500px;
      height: auto;
      margin-left: 20px;
      margin-bottom: 20px;
  }

  h3{
    color:rgba(51, 4, 73, 0.842);
    
  }
  
  ul li {
    color: rgb(6, 13, 148); /* Adjusted list item text color */
    margin-bottom: 10px; /* Added margin for better spacing between list items */
  }
  
  ul #link {
    padding-bottom: 20px;
  }
  
  ul li p {
    color: rgb(70, 70, 66);
  }
  
  ul #link {
    list-style-type: none;
  }

  li h3{
    color: rgb(6, 13, 148);
  }
  
  ul #link a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(105, 127, 222);
    color: white;
    margin-right: 10px;
  }
  
  ul li span {
    color: rgb(48, 114, 212);
  }
  