#backHome {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgb(74, 74, 68);
  color: white;
  padding: 20px;
  border-radius: 50%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 100px 100px 100px 250px;
  background-color: #f7f7f7;
}


#title1 {
  font-size:20px;
  font-weight: bold;
   background: linear-gradient(141deg, rgb(225, 197, 130) 11%, rgb(197, 155, 111) 48%, rgb(72, 59, 22) 83%);
   padding-left: 6px;
}

#title {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(250, 249, 251);
  font-weight: bold;
  background: linear-gradient(141deg, rgb(46, 2, 43) 11%, rgb(191, 111, 197) 48%, rgb(72, 22, 72) 83%);
  padding-left: 6px;
}

.ks {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ks img {
 width:500px; /* Adjusted image width to fit smaller screens */
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.pro{
  padding:20px;
  background-color: aquamarine;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 1010px;
  
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .ks {
    padding: 10px; /* Adjust padding for smaller screens */
    margin-top: 10px; /* Adjust margin for smaller screens */
    gap: 10px; /* Adjust gap between items for smaller screens */
  }

  .ks img {
    width: calc(80vw - 40px); /* Full width minus margins */
    max-width: none; /* Remove max-width constraint */
    height: auto;
    margin: 20px auto; /* Center the image */
    display: block;
  }
}

h3 {
  color: rgba(205, 16, 85, 0.842);
}

ul li {
  color: rgb(6, 13, 148);
  margin-bottom: 10px;
}

ul #link {
  padding-bottom: 20px;
}

ul li p {
  color: rgb(70, 70, 66);
}

ul #link {
  list-style-type: none;
}

li h3 {
  color: rgb(6, 13, 148);
}

ul #link a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(105, 127, 222);
  color: white;
  margin-right: 10px;
}

ul li span {
  color: rgb(48, 114, 212);
}

/* Media query for smaller devices */
@media only screen and (max-width: 600px) {

  body {
      margin: 50px;
  }

 
  
  ul #link a {
    display: block; /* Display links as blocks to make them stack vertically */
    width: calc(50% - 5px); /* Set width for each link to occupy half of the container width with a small gap */
    margin-right: 0; /* Remove margin between links on small screens */
    margin-bottom: 10px; /* Add margin between links vertically for small screens */
  }

  .pro {
    padding: 10px;
    margin-right: 0; /* Remove right margin for small screens */
  }

   #title {
    font-size: 16px; /* Adjust font size for small screens */
    margin-top: 10px; /* Adjust margin for small screens */
  }

}

